@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: #ccd9ed;
}

h1 {
  text-align: center;
  margin: 40px 0 0;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 45px;
  font-weight: 100;
}

p {
  font-size: 22px;
  margin: 0 155px;
}

.box {
  background-color: #e5ecf6;
  padding: 40px 20px;
  width: 700px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.margin1 {
  margin: 13% auto 0;
}

.margin2 {
  margin: 6% auto 0;
}

.box div {
  display: flex;
  justify-content: space-around;
}

.box img {
  width: 80%;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #68758b;
}

/* -------------------- */

button {
  background-color: #a6bde0;
  border: none;
  color: black;
  padding: 20px 60px;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  border-radius: 5px;
  margin: 30px 0 0;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(1.1, 1.1);
  transition: all 0.05s;
}
