@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: #ccd9ed;
}

h1 {
  text-align: center;
  margin: 36px 0 0;
  font-size: 54px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: 100;
}

p {
  font-size: 20px;
  margin: 0 140px;
}

.box {
  background-color: #e5ecf6;
  padding: 36px 18px;
  width: 630px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.margin1 {
  margin: 250px auto 0;
}

.margin2 {
  margin: 150px auto 0;
}

.box div {
  display: flex;
  justify-content: space-around;
}

.box img {
  width: 80%;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #68758b;
  margin: 10px 0;
}

/* -------------------- */

button {
  background-color: #a6bde0;
  border: none;
  color: black;
  padding: 18px 54px;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  border-radius: 5px;
  margin: 27px 0 0;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(1.1, 1.1);
  transition: all 0.05s;
}

/* -------------------- */

@media only screen and (max-width: 730px) {
  h1 {
    font-size: 7.2vw;
  }
}

@media only screen and (max-width: 630px) {
  .box {
    padding: 36px 2.5vw;
    width: 100%;
  }

  p {
    font-size: 3.2vw;
    margin: 0 20px;
  }

  h2 {
    font-size: 5.7vw;
  }

  button {
    font-size: 3vw;
  }
}
